* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    /* display: grid; */
    /* grid-template-columns: repeat(8, 1fr); */
    /* grid-auto-rows: 50px auto 50px; */
    /* grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "mn mn mn mn mn mn mn mn"
        "mn mn mn mn mn mn mn mn"
        "mn mn mn mn mn mn mn mn"
        "mn mn mn mn mn mn mn mn"
        "ft ft ft ft ft ft ft ft"; */
    /* column-gap: 0.5rem;                       */
    color:#ffffff;
    background-color: black;
    line-height: 1.5;
    letter-spacing: 0.1em;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
}

:root {
    --margin-default: 12%;
}