.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #181833, #2f1c63ec, #49206eef);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-height: 5rem;
    z-index: 1000;
}

.nav {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

li {
    margin: auto 1rem;
}

a {
    color: white;
    text-decoration: none;
}

.button_signin{
    background-color: #4cac14;
    padding: 0.5rem;
    border-radius: 1rem;
    word-wrap: nowrap;
}