*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 7%;
    background-color: #16193cf3;                  
    color:#eef0f3;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

/* Cabeçalho início */
li{
    display: inline;
    margin-inline: 0rem;
    margin-block: 0rem;
    padding: 0;
    color: #E2E5EB;   
}

li a{
    color: #E2E5EB;
    text-decoration: none;
}

li a:hover, li a:focus{
    text-decoration: underline;
}
/* Cabeçalho fim */
