/* General */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b2bedd;
}

section {
    padding: 2em;
    margin: 2em 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea, form button {
    margin-bottom: 1em;
}

/* Nav Bar */

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover, a:active{
        background-color: #555555;
        color: white;
        background-color: #3f4442; /* Green */
        border: none;
        color: white;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        display: inline;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 1s;
        cursor: pointer;
        
}

/* Head */

section#home {
    background-image: url(../imagens/vantagens-do-treinamento-nas-empresas.png);
    background-position: 10% 20% ;
    opacity: 80%;
    /* background-color: #e2e2e2; */
    text-align: center;
    font-weight: 800;
}

/* Main */

.curso {
    background-color: #999898;
    padding: 1.5em;
    margin: 1em 0em 1em 0em;
    border-radius: 5px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.616);
    width: 80%;
}

.curso:hover{
    background-color: #3f4442; /* Green */
    border: none;
    color: white;
    padding: 1.5em 3em;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1em 2em;
    transition-duration: 1s;
    cursor: pointer;
}

#recursos ul li{
    display: flex;
    flex-direction: column;
    background-color: #999898;
    padding: 1.5em;
    margin: 1em 0em 1em 0em;
    border-radius: 5px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.616);
    width: 80%;
}

#recursos ul li a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}

/* #recursos ul li a:hover a:active{
    background-color: #3f4442; 
    border: none;
    color: white;
    padding: 1.5em 3em;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1em 2em;
    transition-duration: 1s;
    cursor: pointer;
} */

/* #blog{
    background-image: url(../imagens/noticias.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 20% ;
    opacity: 70%;
    background-color: #e2e2e2; 
}  */

/* article{
    text-align: left;
    font-weight: 800;
    color: #050505;
    text-shadow:2px 2px 7px black;
} */

/* Footer */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

@media screen and (min-width: 481px) {
    // CSS rules
}