.container{
    margin-top: 7rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

#effect_phrase {
    text-align: center;
    /* margin: auto var(--margin-default); */
}
#sub_title {
    text-align: center;
    /* margin: auto var(--margin-default); */
}

.images {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
    margin-top: 5%;
}
.img_mainContent {
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem 0.1rem #0000006e;
}

figure {
    width: 25%;
}
figure figcaption {
    text-wrap: wrap;
}
img {
    transform: scale(0.8);
}

#image_contably {
    position: absolute;
    left: 13%;
}
#image_result {
    position: absolute;
    top: calc(4*var(--margin-default));
}
#image_news {
    position: absolute;
    top: calc(5.3*var(--margin-default));
    right: var(--margin-default);
    margin-bottom: var(--margin-default);
}

@media screen and (max-width: 500px) {
    .images {
        display: flex;
        flex-flow: column;
    }
    
#image_contably {
    position: static;
}
#image_result {
    position: static;
}
#image_news {
    position: static;
}
}