/* Formulário */
textarea {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

button {
    background-color: #4cac14;
    color:#f8f8f8;
    padding: 0.5rem;
    border-style: none;
    border-radius: 0.5rem; 
    transition: width 100ms linear;
    width: 6rem;
}

#submit {
    width: 9rem;
    transition: width 100ms linear;
}

#submit:hover {
    width: 11rem;
}

button:hover {
    width: 8rem;
}

