.row{
    margin: 10% 3% 5% 8%;
}

.column{
    margin-bottom: 4%;
    background-color: rgb(51, 179, 100);
    color: rgb(18, 10, 126);
    font-weight: 900;
    /* border: 3px solid rgb(1, 90, 41); */
    border-radius: 5px;
    padding: 5%;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.616);
    transition: margin-left .3s ease-in-out, transform .3s ease-in-out;
}

.column:hover{
    background-color: rgb(51, 179, 100);
    border: none;
    color: rgb(18, 10, 126);
    font-size: 16px;
    transform: scale(1.05);
    margin-left: 1em;
    cursor: pointer;
}

/* .curso {
    background-color: #999898;
    padding: 1.5em;
    margin: 1em 0em;
    border-radius: 5px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.616);
    width: 80%;
    transition: margin-left .3s ease-in-out, transform .3s ease-in-out;
} */

/* .curso:hover {
    background-color: #3f4442; 
    border: none;
    color: white;
    padding: 1.5em 3em; 
     display: inline-block;
    font-size: 16px;
    transform: scale(1.05);
    margin-left: 1em;
    cursor: pointer;
} */