button {
    background-color: #4cac14;
    padding: 0.5rem;
    border-style: none;
    border-radius: 0.5rem; 
    transition: width 100ms linear;
    width: 6rem;
}

#want_solution {
    width: 9rem;
    transition: width 100ms linear;
}

#want_solution:hover {
    width: 11rem;
}

button:hover {
    width: 8rem;
}