*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração da página Início */

#descricao_sobre{
    margin: 6%;
    line-height: 2;
}

/* Configuração da página Fim */

/* Nossa História Início */

#nossa_historia{
    margin-bottom: 3%;
    margin-top: 10%;
    /* border: 2px solid green;
    padding: 2%; */
}

#nossa_historia h2{
    font-size: 180%;
    font-weight: 900;
}

#nossa_historia p{
    font-size: 110%;
    font-weight: 600;
}

/* Nossa História Fim */

/* Nossa Equipe Início */

#nossa_equipe h2{
  font-size: 180%;
  font-weight: 900;
}

#box{
    columns: 4;
    column-gap: 2.5em;
    column-rule: 1.5px solid white;
    padding: 2.5%;

}

.box_membro{
    padding: 2em;
    text-align: center;
}

/* Nossa Equipe fim */

/* Imagens Início */

.membro{
    display:ruby-base;
}

/* Imagens Fim */